<!DOCTYPE html>
<html lang="en" ng-app="">

<head>
    <meta charset="UTF-8">
    <title>Anuglar Mad Libs</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans|Pontano+Sans' rel='stylesheet' type='text/css'>
</head>

<body>
    <section class="header">
        <div class="face">
            <img id="happyface" src="images/mad-lib-happy-face.png">
        </div>
        <div class="logo">
            <img id="logoface" src="images/ng-mad-libs-logo.png">
            <h1>Automate This!</h1>
        </div>
    </section>
    <section class="input-section">
        <h2>Provide the following words:</h2>
        <div class="words">
            <input class="input-box" type="text" ng-model="female_name" placeholder="female name" />
            <input class="input-box" type="text" ng-model="job_title" placeholder="job title" />
            <input class="input-box" type="text" ng-model="celebrity" placeholder="celebrity" />
            <input class="input-box" type="text" ng-model="dirty task" placeholder="dirty task" />
            <input class="input-box" type="text" ng-model="adjective" placeholder="adjective" />
            <input class="input-box" type="text" ng-model="useless skill" placeholder="useless skill" />
            <input class="input-box" type="text" ng-model="huge number" placeholder="huge number" />
            <input class="input-box" type="text" ng-model="obnoxious celebrity" placeholder="obnoxious celebrity" />
        </div>
    </section>
    <section class="madlib">
        <div class="sentences">
            <p>{{female_name}} was a {{job title}} who loved technology.</p>
            <p>Although she loved parts of her job, she absolutely hated her co-worker, {{male_name}}, and {{dirty task}}.</p>
            <p>So, {{female name}} met with her life mentor {{celebrity}} who told her to learn how to {{useless skill}} with Thinkful.</p>
            <p>Thinkful didn't offer a course on {{useless skill}} so she studied programming instead.</p>
            <p>What a great decision! With her new skills, {{female name}} built a(n) {{adjective}}</p>
            <p>robot named {{obnoxiuous celebrity}} that not only loved {{dirty task}} but did it {{huge number}} times faster.</p>
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js" type="text/javascript"></script>
    <!--<script src="https://code.angularjs.org/1.3.10/angular.js"></script>
    <script src="js/scripts.js"></script>-->
</body>

</html>
